.alert-modal {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    background-color: #fff
}

.alert-content {
    color: #000;
    text-align: -webkit-center;
    position: absolute;
    top: 150px !important;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    //height: 550px;
    .material-icons {
        font-size: 98px;

    }
    .alert-label {
        font-size: 24px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .alert-detail {
        color: black;
        font-weight: 16px;
        padding: 0px;
    }
}
.kick {
    color: #CC0000;
}
.force {
    color: #F47920;
}
.pause {
    color: #000000;
}