.button-instruction{
  //padding-left 20px
  //padding-right 20px
  padding-left 5%
  padding-right 5%
  .button-instruction-first-box{

  }
  .button-instruction-second-box{
    margin: 0 auto;
  }
  .button-instruction-third-box{

  }
  .button-instruction-second-box-down {
    margin: 0 auto;
    padding-left: 3px;
  }
  .button-instruction-third-box-down{
  }
}
.exam {
  letter-spacing 0.5px
}

  .exam-content {
    margin-bottom: -25px;
  }

.exam-section {
  margin auto
  width 90%
  margin-top 24px
  text-align -webkit-center
  padding-bottom 50px
  border 1px solid #F5FFFA
}

.exam-header-box {
  display: flex;
  border-bottom: #EBEBEB;
  border-bottom-style: solid;
  border-bottom-width: thin;
  height: 40px;
  padding-top: 20px;
  .exam-icon {
    color: orange
    padding-left: 20px;
    padding-right: 20px;
  }
  .exam-header {
    font-size: 20px !important
    font-weight: bolder;
  }
}

.exam-details-box {
  padding-top: 20px;
  line-height: 25px;
  margin-bottom: -10px;
  .exam-details-header {
    font-size 24px
    font-weight: bolder;
  }
  .exam-details {
    font-size: 16px;
    font-weight: 400;
  }
}

.exam-how-to-box {
  height: 230px;
  padding: 15px;
  margin-bottom: -50px;
  .how-to-box {
    //padding-left: 100px;
    //padding-right: 100px;
    height: 75%;
    width: 80%;
    border-style: solid;
    border-width: thin;
    border-color: #EBEBEB
    background-color: #FFFAFA;
  }
  .how-to-header {
    font-size 16px
    font-weight: bolder;
    padding-top: 24px;
  }
  .how-to-top {
    display: flex;
    padding-top: 15px;
    .mark {
      padding-left: 20px;
    }
    .mark-label {
      padding-left 15px
    }
  }
  .how-to-down {
    display: flex;
    padding-top: 5px;
    .mark {
      padding-left: 25px;
    }
    .mark-label {
      padding-left 15px
    }
  }
}

.exam-description-box {
  height: 110px;
  padding: 15px;
  .description {
    text-align left
    display: inline-flex;
    height: 25px;
    width: 80%;
  }
  .description-header {
    font-size 16px
    font-weight: bolder;
  }
  .description-box {
    display: inline-flex;
    height: 40px;
    width: 80%;
    padding-right: 50px;
    margin-top: -13px;
  }
  .description1 {
    //text-align: initial;
    //width: 40%;
    //font-weight: 500;
    text-align left
    width 50%
    font-weight 500
  }
  .description2 {
    //text-align: initial;
    //width: 40%;
    //font-weight: 500;
    text-align left
    width 50%
    font-weight 500
    padding-left: 100px;
  }
}

.answers-choice-radio {
  display: inline-flex;
}