.exercise-button-action-box {
  #provious-question-button ,
  #next-question-button {
    //margin-right 10px
  }
  .toggle-question-button {
    width calc(100% - 15px);
    margin-right 0
  }
  .extra-question-button-action-box {
    //width: calc(100% - 235px);
    width: calc(100% - 185px);
  }
}

#confirm-submit-exercise-dialog {
  .signup-form-control.signup-submit-button-box {
    width 100%
  }
}

  .answer-key-exercise{
    margin-top 10px
    .passage-sound-box{
      padding-right: 20px;
    }
  }
.answer-key-container{
  margin-bottom 10px
}