.mock-test-details-content-info-box {
  .mdl-grid {
    padding 0
  }
  ul, ol {
    font-size 16px
  }
}

.mock-test-details-information-box {
  h3 {
    font-size 18px
  }
  .button-box {
    margin-top 20px
    button {
      height 48px
      padding-left 100px
      padding-right 100px
    }
  }
}

.mock-test-result-sidebar-color-bar {
  > div {
    height 50px
  }
}
.mock-test-result-sidebar-container  {
  .global-sidebar-content-box {
    .mdl-grid {
      padding 0
    }
  }
  .view-report-box {
    margin-top 15px
  }
}

.mock-test-result-sidebar-score-recorded-list {
  > p {
    margin-bottom 10px
  }
  .score-recorded-list-box {
    margin-bottom 5px
    .color-box {
      width 16px
      height 16px
      margin-right 10px
      float left
    }
  }
}

.mock-test-report-details-text-box {
  h3 {
    //margin-top 15px
    font-size 48px
    margin-bottom 15px
  }
  .details-list {
    margin-top 0
    padding-left 20px
  }
  .social-share-button-box {
    margin-top 10px
  }
}

.mock-test-report-details-graph-type-box {
  //height 100%
  height 300px
  .graph-box {
    height 100%
    .color-box {
      height 80%
      margin-bottom 5px
      margin-left  5px
      margin-right  5px
      background-color grey-hover-color
      .value-box {
        position absolute
        width 100%
        bottom 0
        left 0
      }
    }
  }
}

.mock-test-doing-exam-container {
  .exam-passage-content-container {
    height calc(100vh - 225px)
  }
  .doing-exam-button-action-box.show-submit-action-button.exam-answer-hide-answer .action-question-details-box {
    height: 20px;
  }
  .doing-exam-button-action-box.show-submit-action-button .action-question-details-box {
    height: calc(50vh - 152px);
  }
  #provious-question-button {
    margin-right 0
  }
  .extra-question-button-action-box {
    width calc(100% - 170px);
  }
}

.big-container-dialog {
  min-width 640px
}

.mock-test-continue-waiting-section {
  .global-content-information-box {
    padding-top 150px
    padding-bottom 150px
    .material-icons {
      font-size 96px
    }
    h1 {
      font-size 32px
    }
    p {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 520px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      .blue-text {
        text-transform: uppercase;
      }
    }
  }
}

#mock-test-subject-break-dialog {
  box-shadow none
  &::backdrop {
    background-color #fff
  }
}

.doing-exam-button-action-box.exam-answer-hide-answer.show-submit-action-button {
  .action-question-details-box {
    height 20px
  }
}

.doing-exam-button-action-box ,
.doing-exam-button-action-box .toggle-action-button-box{
  border-top: 1px solid grey-border-color;
}

@media (max-width: 767px) {
  .mock-test-doing-exam-container {
    .doing-exam-button-action-box.show-submit-action-button .action-question-details-box {
      height: calc(50vh - 112px);
    }
  }
  .two-button-dialog ,
  .big-container-dialog {
    min-width 0
  }
  .mock-test-continue-waiting-section .global-content-information-box {
    padding-top 90px
    padding-bottom 90px
  }

  .mock-test-coming-soon-image {
    .img {
      max-width 500px
      width 500px
    }
  }
}