.header-warning {

}

/*
img {
  margin-right: 10px
  max-width: 100%
}

h1 {
    font-size: 15px
    padding-left: 5px
  }
*/

scoreyourself-question-cover-box {
  height: 300px
  overflow: scrollbar
  border: 10px black
  border-style: groove
  background: #faf8f6
}

global-content-information-box {
  padding: inherit
}