.login {
  background: #2A679F
  height: 100vh
}
.login-container {
  color: #000;
  text-align: -webkit-center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 550px;
  height: 550px;

  .login-section {
    width: 550px;
    height: 550px;
  }
  .h1 {
    margin-bottom: 20px
  }

  .test-center-label {
    display: inline-flex !important
  }

}

.test-center-logo {
  display: block
  padding-top: 45px
}

.google-button {
  height: 100px
  width: 150px
}

.education-version {
  color: white
  letter-spacing: 1px
}