.bg-full-passage{
  background-color #fff
  padding 30px
}

.preparation-test-box {
  padding-top 15px
}

.preparation-exam-item-list-box {
  .global-content-header-box {
    .material-icons {
      border-radius 50%
      background-color green-icon-bg-color
    }
  }
  .details-stat-box .icon-part {
    background-color green-icon-bg-color
  }
  .item-list-button-container {
    button {
      width 240px
    }
  }
}

.preparation-list-content-box {
  h3 {
    font-weight 700
  }
}

.preparation-test-details-header-box {
  h1 {
    margin-top 5px
  }
}

  .question-marked-amount {
    color: #2A679F
  }