.header-container {
  height 64px
  min-height 64px
  background-color #2a679f
  padding 0 20px 0 20px
  display flex
  position relative
  align-items center
  color #fff
  cursor default
  .title-box {
    font-size 18px
    padding-left 15px
  }
  .right-content {
    position absolute
    right 20px
    cursor pointer
  }
}

.header {
  background: #2A679F
  color white
  display: -webkit-inline-box
  height: 100px
}

.header-logo {
  display: block
  height: 60px !important
  width: 60px !important
  padding-left: 25px
  padding-top: 17px
}

.header-label {
  padding-top: 35px
  padding-left: 20px
}

.user-name {
  padding-top 35px
  padding-left: 1200px
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: auto;
  padding: 10px 30px 10px 30px;
  position: relative;
  background: #2A679F
  color white

  .image-box {
    height: 60px
    width: 60px
  }
  .title-box {
    display: inline-table
    padding-left: 20px
    letter-spacing: 0.5px;
  }
  .name-box {
    width: 100%;
    text-align: right;
    letter-spacing: 0.5px;
  }
}

.timer-holder--active {
  background-color #fff
  border 1px solid #000
  color #000
  font-weight 600
  font-size 16px
  line-height 15px
  display flex
  align-items center
  padding 5px 7px
  border-radius 2px
  .icon {
    margin-right 10px
  }
}