@import './_variable.styl';

.grey-container-bg {
  background-color #eceff4
}

.minimum-vh-container {
  min-height calc(100vh - 64px)
}

.light-blue-bg {
  background-color light-blue-color
}

.green-primary-bg {
  background-color green-primary-bg-color
}

.mock-result-grey-bg {
  background-color result-grey-color
}

.mock-result-dark-green-bg {
  background-color result-dark-green-color
}

.mock-result-light-green-bg {
  background-color result-light-green-color
}

.mock-result-yellow-bg {
  background-color result-yellow-color
}

.mock-result-orange-bg {
  background-color result-orange-color
}

.mock-result-red-bg {
  background-color result-red-color
}