.footer-bar {
  height: 150px;
  background: #1b2f2f;
  color: #fff;
  display: flex;
  letter-spacing: 0.5px;
  padding: 50px;
  .company-name {
    width: 55%;
    font-size: large;
    font-weight: 600;
    padding-left: 60px;
    margin-right: -50px;
    .company-details {
      font-weight: 300;
      font-size: 14px;
    }
  }

  .support {
    width: 20%;
    font-size: large;
    font-weight: 600;
    .support-detail {
      cursor: pointer;
      padding-left: 18px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .relate-product {
    width: 20%;
    font-size: large;
    font-weight: 600;
    padding-left: 20px;
    .relate-product-detail {
      cursor: pointer;
      padding-left: 18px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: 767px) {
  .footer-bar {
    background: #1b2f2f;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 0px;
    padding-top: 10px;
    height: 100%;
    display: block;
    .company-name {
      font-size: large;
      font-weight: 600;
      margin-right: -50px;
      width: 100%;
      padding-left: 20px;
      .company-details {
        font-weight: 300;
        font-size: 14px;
      }
    }

    .support {
      font-size: large;
      font-weight: 600;
      width: 100%;
      padding-top: 10px;
      padding-left: 20px;
      .support-detail {
        cursor: pointer;
        padding-left: 18px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .relate-product {
      font-size: large;
      font-weight: 600;
      width: 100%;
      padding-top: 10px;
      padding-left: 20px;
      .relate-product-detail {
        cursor: pointer;
        padding-left: 18px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
