.navigation-bar {
  position fixed
  .navigation-box {
    display: -webkit-box !important;
    height: 70px;
    .AppBar {
      display: -webkit-box;
    }
    .app-brand {
      display -webkit-inline-box
      padding-top: 0px;
      padding-left: 20px;
      .app-logo{
        padding-top: 9px;
        color #27ae60
        .material-icons {
          font-size: 55px;
        }
      }
      .app-name {
        padding-top: 22px;
        font-weight: 600;
        font-size: x-large;
      }
    }
    .function-box {
      display: -webkit-box;
      padding-top: 15px;
      float: right;
      padding-left: 500px;
      position: relative;
      .cart-box {
        padding-top 7px
        margin-left: 5px;
        .cart {

        }
      }
      .avatar-box {
        .avatar {
          margin-left: 30px;
        }
      }
    }
  }

}
