@require '../required/_variable.styl'

.text-super-large {
  font-size 64px !important
}

.text-large {
  font-size 52px !important
}

.text-almost-large {
  font-size 48px !important
}

.text-middle-large {
  font-size 36px !important
}

.text-middle-size {
  font-size 24px !important
}

.text-middle-small {
  font-size 20px !important
}

.text-small-size {
  font-size 16px !important
}

.text-tiny-size {
  font-size 14px !important
}

.white-color {
  color #fff !important
}
.red-text-color {
  color red-color !important
}

.red-weak-text {
  color weak-red-color
}

.text-center {
  text-align center
}

.text-right {
  text-align right
}

.text-title {
  font-size 20px
}

.blue-text {
  color light-blue-color
}

.blue-text-important {
  color light-blue-color !important
}

.green-text {
  color green-primary-text-color
}

.green-weak-text {
  color green-success-color !important
}

.yellow-text {
  color result-yellow-color !important
}

.orange-text {
  color orange-bg-color !important
}

.black-text {
  color black-text-color !important
}

.correct-answer-text-color {
  color dark-green-color
}

.wrong-answer-text-color {
  color red-color
}

.link-decoration-text {
  color blue-link-text
  text-decoration underline
  cursor pointer
}

.uppercase-text {
  text-transform uppercase
}
.capital-text {
  text-transform capitalize
}