white-bg-color = #fff
white-small-bg-color = #fafafa
white-grey-light-bg = #FAF8F6

grey-bg-color = #eceff4
intense-grey-bg-color = #dee1e6
light-grey-bg = #F6F6F6
light-grey-bg-color = #fafafa
grey-para-color = #999
grey-label-color = #bdbdbd
grey-border-color = #ccc
grey-hover-color = #ebebeb
dark-grey-color = #999999

panel-grey-color = #ddd
panel-header-bg-color = #f5f5f5
panel-text-color = #333

green-primary-text-color = #46a8bf
green-primary-bg-color = #00BCD4
green-icon-bg-color = #00897c
dark-green-color = #009900
dark-green-bg = #086378
green-correct-chart-color = #00867b
green-incorrect-chart-color = #aee3de
green-dark-title-color = #167686
green-success-color = #32CD32
green-collect-text = #81B753

dark-blue-color = #415E9B
light-blue-color = #1895ff
blue-link-text = #2a94f8
blue-dashboard-bg-color = #4589b6
weak-blue-color = #278af8

red-color = #F44336
sharp-red-color = #ff2b3d
weak-red-color = #ff5963
red-wrong-text = #cc0000

black-text-color = #000

orange-bg-color = #ff6b00
orange-signup-bg-color = #ff7334

fb-bg-color = #3b5998

// result color
result-grey-color = #ebebeb
result-dark-green-color = #009350
result-light-green-color = #6ebb54
result-yellow-color = #f8cb43
result-orange-color = #ff8938
result-red-color = #cb0029